.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  padding-block: 2rem;

  inline-size: min(72rem, 100% - 2rem);

  margin-inline: auto;

  .logo {
  }

  nav {
    > ul {
      display: flex;
      gap: 3rem;

      > li {
        a {
          &.active {
            color: var(--color-primary);

            font-weight: 700;
          }
        }
      }
    }
  }

  .actions {
    display: flex;
    gap: 0.75rem;
  }
}
