.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  inline-size: min(var(--layout-size-1), 100% - 2rem);
  
  padding-block: 2rem;

  margin-inline: auto;

  nav {
    display: none;
  }

  .actions {
    display: none;
  }

  .hamburger-icon {
    font-size: 1.5rem;

    cursor: pointer;
  }
}

@media (min-width: 1200px) {
  .header {
    nav {
      display: block;

      > ul {
        display: flex;
        gap: 3rem;

        > li {
          a {
            &.active {
              color: var(--color-primary);

              font-weight: 700;
            }
          }
        }
      }
    }

    .actions {
      display: flex;
      gap: 0.75rem;
    }

    .hamburger-icon {
      display: none;
    }
  }
}
