.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  position: relative;
  z-index: 2;

  inline-size: min(var(--layout-size-1), 100% - 2rem);

  padding-block: 2rem;

  margin-inline: auto;

  nav {
    position: absolute;
    inset-inline: 0;
    inset-block-start: 100%;
    z-index: 2;

    background-color: var(--color-gray-98);

    padding: 1rem;

    border-radius: 0.25rem;

    > ul {
      display: grid;
      gap: 1rem;

      > li {
        a {
          &.active {
            color: var(--color-primary);

            font-weight: 700;
          }
        }
      }
    }

    &.closed {
      display: none;
    }
  }
}

.actions {
  display: none;
}

[calss$="-icon"] {
  font-size: 1.5rem;

  cursor: pointer;
}

.backdrop {
  background-color: hsl(0deg 0% 47% / 20%);

  position: fixed;
  inset: 0;
  z-index: 1;

  &.hidden {
    display: none;
  }
}

@media (min-width: 1200px) {
  .header {
    position: static;

    nav {
      position: static;

      > ul {
        display: flex;
        gap: 3rem;

        > li {
          a {
            &.active {
              color: var(--color-primary);

              font-weight: 700;
            }
          }
        }
      }

      &.closed {
        display: initial;
      }
    }

    .actions {
      display: flex;
      gap: 0.75rem;
    }

    .icons {
      display: none;
    }
  }

  .backdrop {
    display: none;
  }
}
