.testimonial {
  display: grid;
  grid-template-columns: [background-start] 2rem [review-start truck-start button-start quote-start] 1fr [review-end truck-end button-end quote-end] 2rem [background-end];
  grid-template-rows: [background-start] 1rem [review-start] auto [review-end] 1rem [button-start] auto [button-end] 1rem [truck-start quote-start] auto [quote-end] 2rem [background-end] auto [truck-end];

  inline-size: min(var(--layout-size-1), 100% - 2rem);

  margin-inline: auto;

  .void {
    display: none;
  }

  .background {
    grid-area: background;

    background-color: var(--color-gray-98);

    box-shadow: var(--shadow-700);

    border-radius: var(--border-radius-5);
  }

  .review {
    grid-area: review;

    display: grid;
    gap: 1rem;

    align-content: center;

    .title {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.5;
    }

    > p {
      font-size: 1.125rem;
      line-height: 1.5;

      text-align: justify;
    }
  }

  .double-quotes {
    grid-area: quote;

    opacity: 0.5;

    inline-size: 1.5rem;
  }

  .container-truck {
    grid-area: truck;

    inline-size: 100%;
  }

  .button {
    grid-area: button;

    justify-self: start;
  }
}

@media (min-width: 1200px) {
  .testimonial {
    grid-template-columns: [void-start] 4.5rem [void-end background-start] 3.75rem [review-start quote-start] 1fr [review-end quote-end] 4rem [truck-start] 1fr [button-start] auto [background-end] 5.75rem [button-end] 4.5rem [truck-end];
    grid-template-rows: [void-start background-start] 2rem [review-start truck-start] auto [truck-end button-start quote-start] auto [review-end button-end quote-end] 3rem [void-end background-end];

    .void {
      grid-area: void;
    }

    .double-quotes {
      inline-size: 4.5rem;
    }

    .button {
      align-self: end;
    }
  }
}
